/*Etiquetas de codigo HTML5*/
*{
	margin: 0;
	padding: 0;
}
body{
	background: white;
	font-family: 'Open Sans';
}
footer{
	width: 100%;
    bottom: 0;
    left: 0;
	border-top: 3px solid #0688F2;
	height: 100px;
}
footer p{
  color: #424439;
  text-align: center;
  font-size: small;
  padding-top: 3px;
}
footer p:first-child{
	margin-top: 20px;
}
header{
	background: #0688F2;
}
header #logo{
	padding: 20px 40px;
	padding-right: 0.5em;
}
header #logo img{
	margin-right: 0.5em;
	padding-right: 0.5em;
	width: 400px;
}
header h1{
	color: #424439;
	left: 0;
	right: 0;
	text-align: center;
	top: 0;
}
header h4{
	color: #424439;
	font-size: 28px;
	margin: 20px;
	text-align: center;
}
header #welcome{
	color: #424439;
	font-size: 100px;
	text-align: center;
}
nav{
	background: #0688F2;
	float: right;
	margin: 3em 0.5em 0 0;
	position: absolute;
	right: 0;
	top: 0;

}
nav ul{
	left: 0;
	right: 0;
	text-align: center;
	top: 0;
	
}
nav ul li{
	display: inline-block;
	padding: 5px;
	

}
nav ul li a{
	color: white;
	font-size: 18px;
	padding: 10px 20px;
	text-decoration: none;
}
nav ul li a:hover{
	color: yellow; 
}
/*id y clases*/
#about{

}
#about figure{
	left: 0;
	right: 0;
	text-align: center;
	top: 0;
	margin: 20px;
}
#activo{
	 background-color: #EEEEEE;
  	 color: #2a2a2a;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
 	 -ms-border-radius: 4px;
  	border-radius: 4px;
}
#activo:hover{
	color: #0688F2;
}
#bienvenidos{
	text-align: center;
	font-size: 0px;
	margin: 25px;
	color: white;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
#chat{
	border-radius: 20px;
	border: 2px solid #ccc;
	top: 0;
	right: 0;
	background: #FFF;
	float: right;
	width: 30%;
	height: 500px;
	margin: 10px 20px;
	position: relative;
}
#chat #chat-campo{
	margin: 10px;
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:0;
}
#chat #chat-campo #textbox{	
  border: 1px solid #4d4d4d;
  font-size: 18px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
  }
 #chat #chat-campo #textbox:first-child{
 	margin-bottom: 2px;
 }  
#contactos{
	left: 0;
	right: 0;
	text-align: center;
	top: 0;
	margin-bottom: 30px;
}
#contactos h2{
	color: #424439;
	font-size: 28px;
	margin: 20px;
}
#contactos img{
	margin: 40px 40px 10px 40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
#contactos figure{
	display: inline-block;
}
#contactos figure a{
	text-decoration: none;
	color: #424439;
}
#contactos figure a:hover{
	color: #0688F2;
}
/*AQUI VAN LOS TUTORIALES*/
#contenido{
	width: 100%;
}
#contenido .articulo{
	margin: 0px 70px;
}
#contenido .articulo figure{
	left: 0;
	right: 0;
	text-align: center;
	top: 0;
	margin: 20px;
}
#contenido .articulo figure img{
	margin: 40px;
}
#contenido .articulo h2{
	margin: 20px 20px 40px 20px;
	text-align: center;
}
#contenido .articulo h4{
	color: #4F4F4F;
	font-size: 30px;
	margin-top: 25px;
	text-align: center;
}
#contenido .articulo p{
	text-align: left;
	font-size: 16px;
	margin: 40px;
}
#ContenidoDistritos{
	padding: 25px;
  width: 70%;
  /* left: 0; */
  /* margin-top: 62px; */
  margin: 0 auto 0 auto;
  }
#ContenidoDistritos h2{
	color: #333;
	margin-bottom: 20px;
}  
#ContenidoDistritos .autor{
	color: #444
  }
.cont-noticias{
	display: inline-block;
	padding: 30px 70px;
	width: 270px;

}
.cont-noticias figure{
	margin-bottom: 15px;
}
.cont-noticias figure img{
	border-radius: 50%;
}
.cont-noticias p{
	text-align: center;
	font-size: 18px;
	margin-bottom: 5px;
}
.cont-noticias a{
	text-decoration: none;
	color: #0688F2;
}
.cont-noticias a:hover{
	color: #4d4d4d;
}  
#distros{
	width: 100%;
	left: 0;
	right: 0;
	text-align: center;
	top: 0;
	height: 850px;
	
}
#home{
	margin-top: 50px;
	width: 100%;
	left: 0;
	right: 0;
	text-align: center;
	top: 0;
	height: 600px;
	
}
#InformacionDistros{
  width: 70%;
 /* background: red;*/
    height: 1000px;
    position: relative;
  float: left;
}
#intro{
	color: #333;
	margin: 25px 0;
	font-size: 32px;
}
.MenuDistritos{
  background: linear-gradient( to bottom, #0688F2, #FFFFFF);
  width: 30%;
  height: 100%;
    float: left;
  border-radius: 0px 0px 100%;
    box-shadow: 4px 4px 7px #888887;
}
.MenuDistritos  ul {

  padding-top: 30px;
    list-style: none;
    padding: 25px;
  }
.MenuDistritos  li a{
	padding: 25px;
}  
.MenuDistritos  li a:hover{
	color:#FFF;
	text-shadow: 0px 0px 1px #ffffff;
	padding-left:20px;
	text-transform:uppercase;
    
}


.MenuDistritos   li a{
text-decoration: none;
 /* color: white;*/
  line-height: 30px;
  
  
	color:white;

  }
#noticias{
	background: ;
	margin:  50px 15px;
	left: 0;
	right: 0;
	text-align: center;
	top: 0;

}  
/*Slider*/
#slider{
	margin-top:-420px;
	position: relative;
}
#slider img{
width:641px;

}
#slider > div{
	position: absolute;
	width: 100%;
	height: 100%;
}/*aqui termina el slider*/
#streaming{
	padding:10px 30px 30px 30px;
	width: 75%;
}
#streaming-contenedor{
	margin: 25px 20px 0 20px;
}
 #textbox:focus
  {
  color: #2E3133;
  border-color: #FBFFAD;
  }
}
#intro{
	text-align: center;
	color: #444;
	font-size: 38px;
	padding: 12px 10px;
}
#subtitulo{
	color: #424439;
	left: 0;
	right: 0;
	text-align: center;
	top: 0;
}
#text-noticias{
	text-align: center;
	color: #323232;
	font-size: 72px;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
#tutoriales{
	left: 0;
	right: 0;
	text-align: center;
	top: 0;
}
#tutoriales h4{
	font-size: 32px;
	color: #646464;
	margin: 20px;
}
#tutoriales #contenidos{
	margin: 18px;
	display: inline-block;
	background: #F5F5F3;
	border-bottom: 3px solid #ccc;
	padding: 20px;
	width: 250px;
	-webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.68);
	-moz-box-shadow:    1px 1px 4px 0px rgba(50, 50, 50, 0.68);
	box-shadow:         1px 1px 4px 0px rgba(50, 50, 50, 0.68);
}
#tutoriales #contenidos:hover{
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
    transition: 0.3s;
	-webkit-box-shadow: 1px 2px 15px 8px rgba(6,136,242,1);
	-moz-box-shadow: 1px 2px 15px 8px rgba(6,136,242,1);
	box-shadow: 1px 2px 15px 8px rgba(6,136,242,1);
}
#tutoriales #contenidos a{
	font-size: 15px;
	color: #444444;
	text-decoration: none;
}
#tutoriales #contenidos p{
	padding-top: 8px;
	font-size: 12px;
	font-family: 'Arial';
	color: #646464;
}